<p><%= l('noEmail_description') %></p>
<blockquote class="ren-quote">
    <table>
        <tbody>
            <tr>
                <td class="ren-quote-content">
                    <span style="font-size:24px"><%= l("noEmail_law") %></span>
                    <hr>
                    <%- l("noEmail_content") %>
                </td>
            <td class="ren-quote-icon"><i class="fa fa-quote-left" aria-hidden="true"></i></td></tr>
        </tbody>
</table>
</blockquote>
