<link rel='stylesheet' href='/css/edit.css'>
<form action='/edit/<%= title %>' method='POST' class='editForm'>
    <div class='form-group'>
        <textarea class='form-control' id='editAreaBox' name='content'><%= content %></textarea>
    </div>
    <!-- TODO:
    1) prehaps preview (use post?)-->
    <% if (locals.username === undefined) { %>
    <p><span class='text-danger fw-bold'>WARNING!</span>    You are NOT logged in. Your IP address will be PERMANENTLY logged and visible to everyone.</p>
    <% } %>
    <button type='submit' type='button' class='btn btn-primary'>Save</button>
</form>