<div class="dropstart">
    <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="rcshowNDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Show...
    </button>
    <ul class="dropdown-menu" aria-labelledby="rcshowNDropdown">
      <li><a class="dropdown-item" href="/RecentChanges?show=5">Show 5</a></li>
      <li><a class="dropdown-item" href="/RecentChanges?show=10">Show 10</a></li>
      <li><a class="dropdown-item" href="/RecentChanges?show=30">Show 30</a></li>
      <li><a class="dropdown-item" href="/RecentChanges?show=100">Show 100</a></li>
    </ul>
</div>
<div style='clear:both'></div>
<div style='overflow-x: auto'>
    <table class="table">
        <thead>
            <tr>
                <th scope='col'>Page name</th>
                <th scope='col'>Username</th>
                <th scope='col'>Change made</th>
                <th scope='col'>Comment</th>
                <th scope='col'>Date</th>
            </tr>
        </thead>
        <tbody id = 'rclist'>
        </tbody>
    </table>
    <div id='rcplaceholder'>Loading...</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='/js/readRC.js'></script>