<form action='/deletefile/<%= title %>' method='POST' class='editForm'>
    <div class="form-group mt-2 mb-2 row">
        <label for='comment' class='col-sm-1 col-form-label sr-only'>Comment</label>
        <div class="col-sm-11">
            <input class="form-control" id='comment' maxlength=255 name='comment' type="text" placeholder="Max 255 characters">
        </div>
    </div>
    <div class="form-group mt-2 mb-2 row">
    <span>Would you like to delete <%= title %>? <span class='text-danger fw-bold'>THIS CANNOT BE UNDONE!</span></span>
    </div>
    <button type='submit' type='button' class='btn btn-primary mt-3'>Delete</button>
</form>