<% if (locals.username !== undefined) { %>
<form action='/Upload' enctype='multipart/form-data' method='POST'>
    <div class='mt-2 mb-2'>
        <div class='captcha'><%- captcha %></div>
        <div class='row'>
            <label for='captchaIn' class='col-form-label col-sm-2'>CAPTCHA</b></label>
            <div class='col-sm-10'>
                <input class="form-control" maxlength=5 id='captchaIn' name='captcha' type="text" style='width:100px' autocomplete='off'>
            </div>
        </div>
        <small class='form-text text-muted'>For spam protection, please type <b>four</b> characters shown above.</small>
    </div>
    <div class='form-group mb-2'>
        <label for='filenameInputBox'>Filename</label>
        <input type='text' name='filename' maxlength='255' class='form-control' id='filenameInputBox' placeholder='Enter Filename'>
        <p>The filename may <b>not</b> contain: #, ?, /, \, &lt;, &gt;, :, *, |, ".</p>
    </div>
    <div class='form-group mb-2'>
        <label for='editAreaBox'>Explanation</label>
        <textarea class='form-control' id='editAreaBox' name='explanation' placeholder='Please include licence information.' ></textarea>
    </div>   
    <div class='form-group mb-2'>
        <label for='inputFile' class='form-label'>Select File (MAX 3MB)</label>
        <input class='form-control' type='file' name='inputFile' id='inputFile'>
    </div>
    <div class='form-group mb-2'>
        <figure class='figure'>
            <img class='figure-img rounded w-25' id='uploadImagePreview'>
            <figcaption class='figure-caption'>Image preview</figcaption>
        </figure>
    </div> 
    <p><span class='text-danger fw-bold'>WARNING!</span>    DO NOT save copyrighted materials without permission; legal consequences may follow. Entering informations about the licence is <b>required</b>.<br>저작권이 있는 내용을 함부로 저장하지 마십시오. 법적 책임이 뒤따를 수 있습니다. 라이선스(CCL, 제한적 이용 등) 표기는 필수입니다.<br><%= global.copyrightNotice %></p>
    <p>You can only upload JPEG, JPG, PNG, GIF and WebP.</p>
    <button type='submit' id='uploadButton' class='btn btn-primary' disabled>Upload</button>
</form>

<script type='text/javascript' src='/js/upload.js'></script>
<% } else { %>
    <p>You need to be logged in to upload a file. <a href='/login'>Login</a></p>
<% } %>