<link rel='stylesheet' href='/css/edit.css'>
<script src='/lib/ckeditor5/build/ckeditor.js'></script>
<script src='/js/boardWrite.js'></script>
<div class='boardRecentVisit bg-light mb-2 p-2'>
    <div class='fw-bold' style='min-width: 4rem;'>최근 방문</div>
    <ul id='boardVisitList'></ul>
</div>
<form action='/board/write/<%= board %>' method='POST' class='editForm'>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type='hidden' id='bBoard' name='board' value='<%= board %>'>
    <% if (locals.username === undefined) { %>
    <div class='form-group input-group mb-2' style='max-width: 400px'>
        <input class="form-control" maxlength=32 name='nickname' type="text" placeholder="닉네임" >
        <input class="form-control" maxlength=32 name='pw' type="password" placeholder="비밀번호">
    </div>
    <% } %>
    <div class='form-group mb-2'>
        <input class="form-control" maxlength=255 name='title' type="text" placeholder="제목">
    </div>
    <div class='form-group'>
        <textarea class='form-control' id='editAreaBox' name='content' placeholder='내용'></textarea>
    </div>
    <div class='mt-2 mb-2'>
        <div class='captcha'><%- captcha %></div>
    </div>
    <% if (locals.username === undefined) { %>
    <p><span class='text-danger fw-bold'>경고!</span>    비로그인 상태로 글을 작성하면 IP가 일부 공개될 수 있습니다.</p>
    <% } %>
    <button type='submit' type='button' class='btn btn-primary mt-3'>작성</button>
</form>