<!-- pageTools.ejs: edit, delete, move...-->
<div class="container w-auto btn-group mb-3" id='pageTools' role="group" aria-label="Basic outlined example">
  <a href="/file/<%= title %>" class="btn btn-outline-primary">View</a>
  <a href='#' class="btn btn-outline-primary">Move (TBD)</a>
  <a href='/deletefile/<%= title %>' class="btn btn-outline-primary">Delete</a>
</div>