<footer id='footer' class='bg-light text-center p-3'>
    <div>Copyright (C) <%= global.appname %></div>
    <div><a href='/License'>License</a></div>
    <div>Contents are licensed under <%= global.license %> unless specified otherwise.</div>
    <div>본 웹사이트의 내용은 별도로 명시된 경우를 제외하고 <%= global.license %> 라이선스 하에 배포됩니다.</div>
    <div><a href='/noEmail'>이메일 주소 무단 수집 거부</a></div>
</footer>