<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<script src='/lib/bootstrap/js/bootstrap.bundle.min.js'></script>
<script src='/lib/jquery-3.6.0.min.js'></script>
<script src='/lib/jquery-ui-1.12.1/jquery-ui.min.js'></script>
<script src='/js/searchautocomplete.js'></script>
<link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css'>
<link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='/lib/jquery-ui-1.12.1/jquery-ui.min.css'>
<link rel='stylesheet' href='/css/mainview.css'>
<link rel='stylesheet' href='/css/ren.css'>
<link rel='stylesheet' href='/css/rcsidebar.css'>
<link rel='stylesheet' href='/css/floatingToolbox.css'>
<script src='/js/rcsidebar.js'></script>
<script src='/js/scroll.js'></script>
<title><%= title %> - <%= global.appname %></title>
