<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='/bootstrap/js/bootstrap.bundle.min.js'></script>
<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'>
<link rel='stylesheet' href='/css/mainview.css'>
<link rel='stylesheet' href='/css/ren.css'>
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<title><%= title %> - <%= global.appname %></title>