<div class='alert alert-danger' id='iealert' role='alert'>
    <h4 class='alert-heading'>
        <i class='fa fa-exclamation-triangle'></i>
        Internet Explorer is not supported.
    </h4>
    <div>Please use newer (and better) browsers such as Firefox and Chrome.</div>
</div>