<!-- pageTools.ejs: edit, delete, move...-->
<div class='container w-auto bg-light justify-content-center border rounded' id='pageTools'>
    <div class='row'>
        <div class='col border-end p-2 pageToolItem'>
            <a href='/edit/<%= title %>'>Edit</a>
        </div>
        <div class='col border-start border-end p-2 pageToolItem'>
            History
        </div>
        <div class='col border-start p-2 pageToolItem'>
            Delete
        </div>
    </div>
</div>