<!-- pageTools.ejs: edit, delete, move...-->
<div class='container w-auto bg-light justify-content-center border rounded' id='pageTools'>
    <div class='row'>
        <div class='col border-end p-2 pageToolItem'>
            <a href='/edit/<%= pagename %>'>Edit</a>
        </div>
        <div class='col border-start border-end p-2 pageToolItem'>
            <a href='/move/<%= pagename %>'>Move</a>
        </div>
        <div class='col border-start border-end p-2 pageToolItem'>
            <a href='/history/<%= pagename %>'>History</a>
        </div>
        <div class='col border-start p-2 pageToolItem'>
            <a href='/delete/<%= pagename %>'>Delete</a>
        </div>
    </div>
</div>