<aside>
    <div id='rcsidebar' class='row border rounded'>
        <div class='pb-2 mt-2 border-bottom'>
            <a href='/RecentChanges'><span class='fw-bold' style='color:black;'>RecentChanges</span> <i class="fas fa-external-link-square-alt ren-extlink-icon"></i></a>
        </div>
        <ul class="list-group list-group-flush" id='rcsidebarcontents'>
        </ul>
    </div>
</aside>