<aside>
    <div id='rcsidebar' class='row border rounded'>
        <div class='pb-2 mt-2 border-bottom'>
            <b>RecentChanges</b>
        </div>
        <ul class="list-group list-group-flush" id='rcsidebarcontents'>
        </ul>
    </div>
</aside>