.article-wrapper
{
    /*I don't know what to put here*/
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 600px;
}
#pageTools
{
    display: grid;
    float: right;
}
.pageToolItem > a
{
    text-decoration: none;
    color: black;
}
#article
{
    word-wrap: break-word;
}