.article-wrapper
{
    /*I don't know what to put here*/
    margin-top: 100px;
    margin-bottom: 100px;
}
#pageTools
{
    /*display: grid;*/
    float: right;
}
@media (max-width: 400px)
{
    #pageTools
    {
        margin-right: -25px;
    }
}
.pageToolItem > a
{
    text-decoration: none;
    color: black;
}
#article
{
    word-wrap: break-word;
    overflow-x: hidden;
}

.nav-icon
{
    margin-right: 5px;
}
.nav-item
{
    margin-right: 15px;
}

#rcsidebar > ul
{
    padding-right: 0;
}

#userIcon
{
    position: absolute;
    right: 10px;
    float: right !important;
}
#searchBox
{
    max-width: 300px;
    margin-right: 100px;
    float: right;
}
@media (max-width: 648px)
{
    #userIcon
    {
        top: 5px;
    }
    #searchBox
    {
        max-width: 648px;
        margin-right: 0px;
        width: 100%;
    }
}
.ui-front
{
    z-index: 99999;
}
.ui-autocomplete
{
    border: 1px solid rgba(0,0,0,.15);
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.nav-contents
{
    max-width: 1320px;
    position: relative;
}


#footer
{
    width: 100%;
    clear: both;
}

.bg-primary, .btn-primary
{
    background-color: #7aa7d6 !important;
}
.btn-outline-primary
{
    border-color: #7aa7d6 !important;
    color: #7aa7d6 !important;
}
.btn-outline-primary:hover, .btn-primary, .btn-outline-primary.dropdown-toggle.show
{
    background-color: #7aa7d6 !important;
    border-color: #7aa7d6 !important;
    color: white !important;
}
.dropdown-item.active, .dropdown-item:active
{
    background-color: #7aa7d6 !important;
}