.article-wrapper
{
    /*I don't know what to put here*/
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 600px;
}
#pageTools
{
    /*display: grid;*/
    float: right;
}
.pageToolItem > a
{
    text-decoration: none;
    color: black;
}
#article
{
    word-wrap: break-word;
    overflow-x: hidden;
}

.nav-icon
{
    margin-right: 5px;
}
.nav-item
{
    margin-right: 15px;
}
@media (max-width: 768px)
{
    .nav-icon
    {
        display: none;
    }
}
@media (max-width: 992px)
{
    .nav-icon
    {
        display: none;
    }
}

#userIcon
{
    position: absolute;
    right: 10px;
    float: right !important;
}
#searchBox
{
    max-width: 300px;
    margin-right: 100px;
    float: right;
}
@media (max-width: 648px)
{
    #userIcon
    {
        top: 5px;
    }
    #searchBox
    {
        max-width: 648px;
        margin-right: 0px;
        width: 100%;
    }
}
.nav-contents
{
    max-width: 1320px;
    position: relative;
}