#rcsidebar
{
    background-color: white;
    float: right;
    position: relative;
    width: 250px;
    margin-top: 75px;
    word-break: break-all;
}
.rcTitle
{
    color: #212529;
}
.article-wrapper
{
    margin-right: 260px;
}

@media (max-width: 1200px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xs
    {
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 992px)
{
    #rcsidebar
    {
        display: none
    }
    .article-wrapper
    {
        margin-right: 0;
    }
}
    #rcsidebar
    {
        margin-right: 0;
    }
@media (max-width: 575px)
{
    .article-wrapper
    {
        margin-right: -12px;
    }
}