.editForm
{
    height: 30rem;
    display: inline;
}
#editAreaBox
{
    height: 25rem;
}
.ck-editor__editable_inline, .ck-source-editing-area {
    min-height: 400px;
    max-height: calc(100vh - 500px);
}
.editMacro
{
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
}
.editMacro-drp
{
    display: inline-block;
    font-size: 1.5rem;
    height: 2rem;
    color: inherit;
}