/*Renderer*/
.ren-center
{
    text-align: center;
}
.ren-left
{
    text-align: left;
}
.ren-right
{
    text-align: right;
}

.ren-toc
{
    display:inline-block;
}
.ren-img
{
    display: inline-block;
}
.ren-yt
{
    max-width: 100%;
}
a
{
    text-decoration: none;
}
.ren > a
{
    color: inherit;
}
.ren_nosuchpage
{
    color: red;
}
.ren_nosuchpage:hover
{
    color: darkred;
}
.ren_thispage
{
    font-weight: bold;
}

.ren-extlink
{
    color: green;
}
.ren-extlink-icon
{
    color: green;
}
.ren-extlink:hover
{
    color: darkgreen;
}

p:empty
{
    height: 1.5em;
}

.ren-header
{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.ren-header-edit
{
    font-size: 0.8rem;
}

.ren-table
{
    width: auto;
}
.ren-quote
{
    display: table;
    width: auto;
    border: 1px solid #dee2e6;
    border-left: 5px solid #43739F !important;
    /*padding-left: 16px;
    padding-right: 16px;*/
    background-color: #f5f5f5;
    margin: 1rem 0;
}
.ren-quote, .ren-quote > table, .ren-quote > tbody, .ren-quote > tr
{
    min-height: 48px;
}
.ren-quote-content
{
    position: relative;
    min-width: 32px;

    padding-top: 8px;
    padding-bottom: 8px;

    padding-right: 16px;
    padding-left: 16px;
}
.ren-quote-icon
{
    vertical-align: top;
    color: silver;
    font-size: 28px;

    padding-right: 16px;
}
