<form action='/admin/grant' method='GET'>
    <div class='mb-3 row'>
        <label for='tbUsername' class='col-sm-2 col-form-label'>Username</label>
        <div class='col-sm-10'>
          <input type='text' maxlength='255' class='form-control' id='tbUsername' name='grantTo'>
        </div>
      </div>
    <div class='mt-3'>
        <button type='submit' class='btn btn-primary'>Submit</button>
    </div>
</form>