<% if (global.conf.disableDarkMode !== true) { %>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">테마</h5>
        <p class="card-text">다크 모드 사용 여부를 설정할 수 있습니다.</p>
        <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
        <div class='form-group mb-2'>
            <div class='row'>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioTheme" id="radioThemeLight" value='light'>
                    <label class="form-check-label" for="radioThemeLight">
                        라이트 테마
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioTheme" id="radioThemeDark" value='dark'>
                    <label class="form-check-label" for="radioThemeDark">
                        다크 테마
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioTheme" id="radioThemeSystem" value='system'>
                    <label class="form-check-label" for="radioThemeSystem">
                        시스템 설정 사용
                    </label>
                </div>
            </div>
        </div>
        <button class='btn btn-primary' onClick='setThemePref()'>저장</button>
    </div>
</div>
<% } %>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">최근 변경 사이드바 사용</h5>
        <p class="card-text">최근 변경 사이드바 사용 여부를 설정할 수 있습니다.</p>
        <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
        <div class='form-group mb-2'>
            <div class='row'>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioRC" id="radioRCtrue" value='true'>
                    <label class="form-check-label" for="radioRCtrue">
                        사용
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioRC" id="radioRCfalse" value='false'>
                    <label class="form-check-label" for="radioRCfalse">
                        사용하지 않음
                    </label>
                </div>
            </div>
        </div>
        <button class='btn btn-primary' onClick='setRCPref()'>저장</button>
    </div>
</div>

<% if (username) { %>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">비밀번호 변경</h5>
        <p class="card-text">비밀번호를 변경할 수 있습니다.</p>
        <form method='POST' action='/settings/changePassword'>
            <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
            <div class='form-group mb-2'>
                <label for='oldpassword'>현재 비밀번호</label>
                <input type='password' name='oldpassword' class='form-control' id='oldpassword' placeholder='현재 비밀번호 입력' required>
            </div>
            <div class='form-group mb-2'>
                <label for='passwordInputbox'>새 비밀번호</label>
                <input type='password' name='password' class='form-control' id='passwordInputbox' placeholder='새 비밀번호 입력' required minlength='8' maxlength='255' onkeyup='pwMatchCheck();pwAppropriateCheck()'
                pattern='^[A-Za-z\d$@$!%*?&^#_\-+=<>,./|]{8,255}$'>
                <small class='form-text text-muted'>비밀번호는 최소 8자 이상이어야 합니다.</small>
                <small id='passwordbadlength' class='text-danger fw-bold' style='display: none'>비밀번호는 8자 이상 255자 이하여야 합니다.</small>
                <small id='passwordbadchar' class='text-danger fw-bold' style='display: none'>비밀번호에 잘못된 문자가 포함되어 있습니다: <small id='passwordbadcharlist'></small></small>
            </div>
            <div class='form-group mb-2'>
                <label for='passwordConfirmInputbox'>비밀번호 확인</label>
                <input type='password' name='passwordConfirm' class='form-control' id='passwordConfirmInputbox' area-describedby='passwordConfirmDesc' placeholder='비밀번호 재입력' required minlength='9' maxlength='255' onkeyup='pwMatchCheck()'>
                <p>
                    <small id='passwordmatch' class='text-success fw-bold' style='display: none'>비밀번호 일치</small>
                    <small id='passwordnotmatch' class='text-danger fw-bold' style='display: none'>비밀번호 불일치</small>
                </p>
                <small id='passwordConfirmDesc' class='form-text text-muted'>비밀번호가 제대로 입력되었는지 확인하기 위해 한 번 더 입력해 주세요.</small>
            </div>
            <script src='/js/signupPasswordCheck.js'></script>
            <button type='submit' class='btn btn-primary'>비밀번호 변경</button>
        </form>
    </div>
</div>
<% } %>
<script src='/js/settings.js'></script>